// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$raleway: 'Raleway', sans-serif;
$marvel: 'Marvel', sans-serif;

// Fonts size
$base-font-size: 14px;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$primary-color: #ee6e73;
$white: #fff;
$white-grey: #dedede;
$green: #1abc9c;
$blue: #3498db;
$lilac: #9b59b6;
$orange: #e67e22;
$red: #e74c3c;
$yellow: #d9a81d;
$grey: #8f8f8f;
$black: #343a40;

// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
$lilac-transparent: rgba(155, 89, 182, .7);
