.controls {
  padding-bottom: 10px;

  input {
    padding: 10px;
  }

  textarea {
    height: 100px;
    padding: 10px;
  }
}

.feedback-data {
  width: 100%;
}

.btn-email {
  margin: 7% 0;
  width: 100%;
}
