#carousel-experience.carousel-experience.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators.customized-experience
    /%li.active{"data-slide-to" => "0", "data-target" => "#carousel-experience"}
    /%li{"data-slide-to" => "1", "data-target" => "#carousel-experience"}
    /%li{"data-slide-to" => "2", "data-target" => "#carousel-experience"}
  .carousel-inner{:role => "listbox"}
    .item.active
      .resume-exp
        .font-p
          2013 - 2014
        .font-subtitle
          A UNO TV CA
        .font-p
          Systems Engineer
      .resume-exp
        .font-p
          2016 - 2017
        .font-subtitle
          SLICEGROUP
        .font-p
          Junior Development
      .resume-exp
        .font-p
          2017 - present
        .font-subtitle
          FREELANCE
        .font-p
          FULL STACK
