main {
  padding: 20px 50px 0;

  @include respond_to (sm) {
    padding: 0;
  }

  @include respond_to (xs) {
    padding: 0;
  }
}

html {
  @include respond-to(xl) {
    @include transition(all .3s ease);
    font-size: $base-font-size;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    font-size: 11px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    font-size: 6.5px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    font-size: 11px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    font-size: 10px;
  }
}

body {
  font-family: $marvel;
  height: 100%;
}

.boxed {
	display: block;
	position: relative;
	margin-top: 2%;
	margin-right: 3.5%;
	margin-left: 3.5%;
  background-image: url('backgroundBody.jpg');
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.padding-50 {
  padding: 35px 35px 40px;
}

main {
  @extend .container;
  width: 100%;
}

.title-text {
  font-size: 3.5rem;
  font-weight: $normal;
  line-height: 2.2rem;
  margin: 0;
}

.font-subtitle {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: $bold;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}

.font-p {
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.font-span {
  font-size: 1.9rem;
}

.footer-text {
  font-size: 2rem;
  font-weight: $bold;
  letter-spacing: 3px;
}

.carousel-indicators.customized-experience {
  bottom: -40px;
}

.padding-page-parts {
  padding: 35px 35px 0px;
}

.map {
  height: 400px;
  width: 100%;
  border: 3px solid $red;
}

.grecaptcha-badge {
  z-index:120;
}
