#resume.row.nopadding.skin
  .col-md-12.nopadding
    .padding-50
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text Summary
        .sub-description
          %h5.font-subtitle HARD-WORKING PERSON ON THE WAY TO THE SUCCESS...
          %p.font-p
            The experiences are the best way to improve the projects in which I have participated. With each new project, new challenges that challenge my abilities
  .col-md-12.noppading.w-grey
    .padding-50
      %h3.title-text.text-center Personal Qualities
      %p.font-p.text-center
        My qualities to perform the coolest jobs of all internet
      .row.nopadding
        .padding-50
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fa.fa-cogs.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle CREATIVE
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fa.fa-code.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle SELF-MOTIVATED
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fa.fa-rocket.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle PUNCTUAL
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fab.fa-hubspot.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle MULTITASK
  .col-md-12.nopadding
    .padding-page-parts
      %h3.title-text.text-center
        Professional Timeline
      .sub-description-resume.text-center
        %h5.font-subtitle WORKING HARD AND MAKING THE SUCCESS
        %p.line-red.text-center
  .col-md-12.nopadding
    .padding-page-parts
      .education
        .text-left.title-text 
          My Education 
        .text-left.font-subtitle 
          1996 - 2014
  .col-md-12.nopadding
    .padding-50
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2008 - 2013
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse{"type" => "button", "aria-controls" => "collapse-education1", "aria-expanded" => "true", "data-target" => "#collapse-education1", "data-toggle" => "collapse"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle SYSTEM ENGINEER - UNEFA
            #collapse-education1.collapse.in
              .card-body
                %p
                  Systems engineering is a way of interdisciplinary approach that allows to study and understand reality, with the purpose of implementing or optimizing complex systems. It can also be seen as the technological application of systems theory to the efforts of engineering, adopting throughout this work the systemic paradigm. Systems engineering integrates other disciplines and specialty groups in a team effort, forming a focused development process.
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              1996 - 2008
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-education3", 'aria-expanded': "false", 'aria-controls': "collapse-education3"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle HIGH SCHOOL DEGREE - U.E SAN FRANCISCO JAVIER
            #collapse-education3.collapse
              .card-body
                %p
                  Graduated as a bachelor of science

  .col-md-12.nopadding
    .padding-page-parts
      .experience
        .text-left.title-text 
          Work Experience
        .text-left.font-subtitle 
          2013 - NOW
  .col-md-12.nopadding
    .padding-50
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2017 - Now
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience1", 'aria-expanded': "true", 'aria-controls': "collapse-experience1"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle FULL STACK - FREELANCER
            #collapse-experience1.collapse.in
              .card-body
                %p
                  Create new proyects and resolve issues
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2016 - 2017
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience2", 'aria-expanded': "false", 'aria-controls': "collapse-experience2"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle JUNIOR DEVELOPMENT - SLICE GROUP
            #collapse-experience2.collapse
              .card-body
                %p
                  Develop applications for clients according to their needs
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2013 - 2014
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience3", 'aria-expanded': "false", 'aria-controls': "collapse-experience3"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle IT SPECIALIST - AUNO TV
            #collapse-experience3.collapse
              .card-body
                %p
                  In charge of operations and master. everything about IT
