.row.nopadding.skin
  .col-md-12.nopadding
    .padding-50.wow.fadeInRight
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text Resumen
        .sub-description
          %h5.font-subtitle HARD-WORKING PERSON ON THE WAY TO THE SUCCESS...
          %p.font-p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales nulla.
  .col-md-12.noppading.w-grey
    .padding-50.wow.fadeInDown
      %h3.title-text.text-center Cualidades Personales
      %p.font-p.text-center
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus.
      .row.nopadding
        .padding-50
          .col-md-3
            .row.text-center
              .col-md-12
                %i.fa.fa-cogs.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle CREATIVE
                %p.font-p For extreme size changes, we may want to change the layout altogether, either through a separate style sheet or, more efficiently, through a CSS media query.
          .col-md-3
            .row.text-center
              .col-md-12
                %i.fa.fa-code.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle SELF-MOTIVATED
                %p.font-p It is possible to shrink things proportionally and rearrange elements as necessary to make everything fit (reasonably well) as a screen gets smaller.
          .col-md-3
            .row.text-center
              .col-md-12
                %i.fa.fa-rocket.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle PUNCTUAL
                %p.font-p Below we have a few examples of responsive Web design in practice today. For many of these websites, there is more variation.
          .col-md-3
            .row.text-center
              .col-md-12
                %i.fab.fa-hubspot.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle MULTITASK
                %p.font-p One major problem that needs to be solved with responsive Web design is working with images. There are a number of techniques.
  .col-md-12.nopadding
