!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Document
  %body{style: "padding: 20px; font-family: 'Raleway', sans-serif" }
    .title{style: 'background: #3498db; padding: 15px;'}
      %h1{style: 'color: #dedede; text-align: center; font-size: 35px;'}
        Thanks for writing me, #{@contact.name} !
    .content{style: 'padding: 20px 15px; background: #dedede;'}
      %p{style: 'font-size: 25px;'}
        Hi, #{@contact.name}. I tried to response in fews hours for working together in awesome projects !!!
      %p{style: 'text-align: right; padding-top: 20px; font-size: 16px; font-style: oblique;'}
        "To strive, to seek, to find, and not to yield." Tennyson
