%h1
  This is automated email from your portfolio, please take a time to read this message!!!
%h2
  Name: #{@contact.name}
%h2
  Email: #{@contact.email}
%h2
  Subject: #{@contact.subject}
%h2
  Content: #{@contact.content}
%p
  Contact whit this client to create awesome proyects!!!
