#portfolio.row.nopadding.skin
  .col-md-12.nopadding
    .padding-50
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text Portfolio
        .sub-description
          %h5.font-subtitle HARD-WORKING PERSON ON THE WAY TO THE SUCCESS...
          %p.font-p
            These are some of my projects that I have done, a bit of my experience so they can check it out, all on github as well. In search of projects that challenge my abilities
  .col-md-12.noppading.w-grey
    .padding-50
      .container-fluid.noppading
        .row
          .col-xs-3.col-sm-6.col-md-3.col-lg-3
            .animation.text-center
              .icon
                %i.far.fa-images.fa-cs
              .integers.font-subtitle 
                3
              .font-p
                WEBSITES
          .col-xs-3.col-sm-6.col-md-3.col-lg-3
            .animation.text-center
              .icon
                %i.fas.fa-shopping-cart.fa-cs
              .integers.font-subtitle 
                0
              .font-p
                E-COMMERCE
          .col-xs-3.col-sm-6.col-md-3.col-lg-3
            .animation.text-center
              .icon
                %i.fas.fa-laptop-code.fa-cs
              .integers.font-subtitle
                0
              .font-p
                WEB-APPS
          .col-xs-3.col-sm-6.col-md-3.col-lg-3
            .animation.text-center
              .icon
                %i.far.fa-object-group.fa-cs
              .integers.font-subtitle 
                0
              .font-p
                UI/UX
  .col-md-12.noppading
    .padding-page-parts
      %h3.title-text.text-center
        PROJECTS
      .sub-description-portfolio.text-center
        %h5.font-subtitle
          WORKING HARD AND MAKING THE SUCCESS
  .col-md-12.noppading
    .padding-page-parts
      .filters
        #filters.button-group.text-center
          %button.btn.btn-portfolio.active.font-p{type: 'button', 'data-filter': '*'}
            ALL
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.website'}
            WEBSITE
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.e-commerce'}
            E-COMMERCE
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.web-apps'}
            WEB-APPS
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.uiux'}
            UI/UX
  .col-md-12.nopadding
    .padding-page-parts
      .row.grid
        .col-xs-12.col-sm-6.col-md-4.element-item.website{'data-category': 'website'}
          .hover-content
            = image_tag('diasan.jpg', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .icon-link
                %a{href: 'http://diasan.herokuapp.com/', target: '_blank'}
                  %i.fas.fa-external-link-square-alt.fa-2x
              .text-hover
                %h5.font-p DIASAN
                %p.font-p  website
        .col-xs-12.col-sm-6.col-md-4.element-item.website{'data-category': 'e-commerce'}
          .hover-content
            = image_tag('alianzacmc.jpg', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .icon-link
                %a{href: 'http://www.alianzacmc.com/', target: '_blank'}
                  %i.fas.fa-external-link-square-alt.fa-2x
              .text-hover
                %h5.font-p ALIANZACMC
                %p.font-p  website
        .col-xs-12.col-sm-6.col-md-4.element-item.website{'data-category': 'web-apps'}
          .hover-content
            = image_tag('portfolio.jpg', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .icon-link
                %a{href: '#'}
                  %i.fas.fa-external-link-square-alt.fa-2x
              .text-hover
                %h5.font-p PORTFOLIO
                %p.font-p  website
