#carousel-experience.carousel-experience.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators.customized-experience
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-experience"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-experience"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-experience"}
  .carousel-inner{:role => "listbox"}
    .item.active
      .resume-exp
        .font-p
          02/2008 - 04/2010
        .font-subtitle
          ABC BRODCAST INC. NEW YORK.
        .font-p
          junior Designer
      .resume-exp
        .font-p
          04/2010 - 06/2012
        .font-subtitle
          LEO BURNETT LONDON OFFICE
        .font-p
          Senior Designer
      .resume-exp
        .font-p
          06/2012 - present
        .font-subtitle
          GOOGLE INC. DUBLIN.
        .font-p
          UI/UX Designer
    .item
      .resume-exp
        .font-p
          02/2008 - 04/2010
        .font-subtitle
          ABC BRODCAST INC. NEW YORK.
        .font-p
          junior Designer
      .resume-exp
        .font-p
          04/2010 - 06/2012
        .font-subtitle
          LEO BURNETT LONDON OFFICE
        .font-p
          Senior Designer
      .resume-exp
        .font-p
          06/2012 - present
        .font-subtitle
          GOOGLE INC. DUBLIN.
        .font-p
          UI/UX Designer
    .item
      .resume-exp
        .font-p
          02/2008 - 04/2010
        .font-subtitle
          ABC BRODCAST INC. NEW YORK.
        .font-p
          junior Designer
      .resume-exp
        .font-p
          04/2010 - 06/2012
        .font-subtitle
          LEO BURNETT LONDON OFFICE
        .font-p
          Senior Designer
      .resume-exp
        .font-p
          06/2012 - present
        .font-subtitle
          GOOGLE INC. DUBLIN.
        .font-p
          UI/UX Designer
