.row.nopadding.skin
  .col-md-8.nopadding
    .padding-50.wow.fadeInDown
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text SOBRE MÍ
        .sub-description
          %h5.font-subtitle HARD-WORKING PERSON ON THE WAY TO THE SUCCESS...
          %p.font-p
            Customize your website as you want using different colors and 100% free fonts.
      .row.nopadding
        .col-md-4.nopadding
          .row
            .col-sm-2.col-md-3.sm-pdn
              %i.fab.fa-connectdevelop.fa-cs{"aria-hidden" => "true"}
            .col-sm-10.col-md-9.nw-padding
              %h5.font-subtitle CREATIVE
              %p.font-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet hendrerit dolor, at lacinia mi.
        .col-md-4.nopadding
          .row
            .col-sm-2.col-md-3.sm-pdn
              %i.fab.fa-cloudscale.fa-cs{"aria-hidden" => "true"}
            .col-sm-10.col-md-9.nw-padding
              %h5.font-subtitle SELF-MOTIVATED
              %p.font-p Curabitur sit amet laoreet leo. Maecenas eget pulvinar arcu. Quisque fermentum nulla non urna placerat.
        .col-md-4.nopadding
          .row
            .col-sm-2.col-md-3.sm-pdn
              %i.fas.fa-tasks.fa-cs{"aria-hidden" => "true"}
            .col-sm-10.col-md-9.nw-padding
              %h5.font-subtitle PUNCTUAL
              %p.font-p Sed scelerisque elit eget eros consectetur varius. Suspendisse laoreet rhoncus pellentesque
  .col-md-4.nopadding.w-grey
    .padding-50.wow.fadeInRight
      %h3.title-text
        PERSONAL INFO
      .personal-data
        .font-subtitle
          NOMBRE:
        .font-p
          Nombre del Cliente
      .personal-data
        .font-subtitle
          FECHA DE NACIMIENTO:
        .font-p
          09/07/1990
      .personal-data
        .font-subtitle
          DIRECCIÓN:
        .font-p
          Direcccion extra extra extra extra extra extra larga extra extra extra extra extra extra larga
      .personal-data
        .font-subtitle
          TELEFONO:
        .font-p
          +58-123-345-54-99
      .personal-data
        .font-subtitle
          EMAIL:
        .font-p
          prueba@gmail.com
.row.nopadding.cyan
  .col-md-4.nopadding
    .padding-50.wow.fadeInRight
      %h3.title-text
        PRO. EXPERIENCE
      = render 'front/sections/content/carousel/pro_experience'
  .col-md-8.nopadding.blue
    .padding-50.wow.fadeInLeft
      %h3.title-text
        My Professional skills
      = render 'front/sections/content/carousel/pro_skills'
