!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thanks for writing me, #{@contact.name}!
    %p
      I tried to response in fews hours to you for working together
