.container-fluid.bg-front.padding-down
  .padding-50.grey-scale
    .row
      .col-xs-12.col-sm-5.col-md-5.foot-pdng
        %h4.footer-text
          Alirio Diaz
        %p.font-p
          = t("views.footer.career")
        %p.font-p
          = t("views.footer.pro")
      .col-xs-12.col-sm-7.col-md-7.foot-pdng
        %h4.footer-text.text-center
          = t("views.footer.follow")
        .social.text-center
          %a.btn.btn-round.btn-clear.btn-github{href: "https://github.com/aliaz0990", target: "_blank"}
            %i.fab.fa-github
          %a.btn.btn-round.btn-clear.btn-linkedin{href: "https://www.linkedin.com/in/alirio-diaz-298314b8?trk=nav_responsive_tab_profile", target: "_blank"}
            %i.fab.fa-linkedin-in
    .row
      .col-xs-12.col-md-12.col-md-12.copyrights
        %p © 2019 Alirio Díaz
