.container-fluid.bg-front.padding-down
  .padding-50.grey-scale
    .row
      .col-xs-3.col-md-3.foot-pdng
        %h4.footer-text
          Alirio Diaz
        %p.font-p
          Systems Engineer
        %p.font-p
          Web Development
      .col-xs-3.col-md-3.foot-pdng
        %h4.footer-text
          Download CV
        %a.font-p.lenguage.spanish{href: "#"}
          Español
        %a.font-p.lenguage.english{href: "#"}
          English
      .col-xs-6.col-md-6.foot-pdng
        %h4.footer-text.text-center
          Follow Me
        .social.text-center
          %a.btn.btn-round.btn-clear.btn-github{href: "https://github.com/aliaz0990", target: "_blank"}
            %i.fab.fa-github
          %a.btn.btn-round.btn-clear.btn-linkedin{href: "https://www.linkedin.com/in/alirio-diaz-298314b8?trk=nav_responsive_tab_profile", target: "_blank"}
            %i.fab.fa-linkedin-in
    .row
      .col-md-12.copyrights
        %p © 2018 Alirio Díaz
